<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div id="bodywrap">
        <div class="row">
        <div class="large-10 columns">
          <div class="scroll-window-wrapper">
          
          <h2>Book Details</h2>
          <button class="open-modal-btn" onclick="openModal()">Add Book</button>

            <!-- ADD BOOK MODAL -->
            <div id="myModal" class="modal">
                <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <h3>Add Book</h3>
                <form action="/addBook" method="post">
                    <input type="text" placeholder="Book Name" id="name" name="name" required/>
                    <input type="text" placeholder="Author" id="author" name="author" required/>
                    <input type="number" placeholder="Price" id="price" name="price" required/>
                    <input type="submit">
                </form>
                </div>
            </div>

            <!-- EDIT BOOK MODAL -->
            <div id="editModal" class="modal">
                <div class="modal-content">
                <span class="close" onclick="closeEditModal()">&times;</span>
                <h3>Edit Book</h3>
                <form id="editUser" method="post">
                    <input type="text" placeholder="Book Name" id="editName" name="name" required />
                    <input type="text" placeholder="Author" id="editAuthor" name="author" required/>
                    <input type="number" placeholder="Price" id="editPrice" name="price" required/>
                    <input type="submit">
                </form>
                </div>
            </div>

            <div class="scroll-window">
            <table class="table table-striped table-hover user-list fixed-header">
                <thead>
                    <th><div>Book</div></th>
                    <th><div>Author</div></th>
                    <th><div>Price</div></th>
                    <th><div>Action</div></th>
                </thead>
                <tbody>
                    <% if(books.length > 0){ %>
                        <% for(let book of books){ %>
                            <tr>
                                <td><%= book.name %></td>
                                <td><%= book.author %></td>
                                <td><%= book.price %></td>
                                <td class="text-right">
                                    <button class="button tiny" onclick="openEditModal('<%= book.name %>', '<%= book.author %>', '<%= book.price %>', '<%= book._id %>')">Edit</button>

                                    <button class="button alert tiny">
                                      <a href='/deleteBook/<%= book._id %>'>Delete</a>
                                    </button>			
                                </td>
                            </tr>
                        <% } %>
                    <% }else{ %>
                        <tr><td colspan="4">No books available</td></tr>
                    <% } %>
                </tbody>
            </table>
            </div>

        </div>
        </div>
        </div>
    </div>

    <script>
        function openModal() {
            document.getElementById("myModal").style.display = "block";
        }

        function closeModal() {
            document.getElementById("myModal").style.display = "none";
        }

        function openEditModal(name, author, price, id){
            document.getElementById('editUser').action=`/editBook/${id}`
            document.getElementById("editModal").style.display = "block"
            document.getElementById('editName').value = name
            document.getElementById('editAuthor').value = author
            document.getElementById('editPrice').value = price
        }

        function closeEditModal(){
            document.getElementById("editModal").style.display = "none"
        }
    </script>

</body>
</html>
